*{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* ############## HEADER ############## */

/* ######## NAVBAR ######## */

a, a:visited {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;

}
a:hover {
    color: #FFBF66;
    transition: ease-in-out 0.5s;
}
.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
}
nav{
    background-color: #00353F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: center;
    font-size: 1.5rem;
    height: 50px;
}
.logo{
    width: 12rem;
    height: 8rem;
    background-color:white;
    background-image: url(./Images-AFDP/Logo-AFDP.png) no-repeat;
    border-radius: 0 0 2rem 2rem;
    margin-left: 2rem;
    z-index: 2;
}
.logo img {
    width: 90%;
    margin: 20% 5% 0 5%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    font-size: 1.2rem;
    height: 20px;
}
#icons{
    cursor: pointer;
    display: none;
}
@media (max-width: 700px) {
    #icons {
        display: block;
        align-self: center;
        margin-right: 1rem;
        width: 32px;
        text-align: center;
        font-size: 1.5rem;
        background-color: #FFBF66;
        border: solid white 2px;
        border-radius: 18px;
    }
    #icons:before {
        content: "\2630";
        color: #00353F;
        text-align: center;
        align-self: center;
    }
    .active #icons:before {
        content: "\2715";
        color: #00353F;
        text-align: center;
        align-self: center;
    }
    nav ul {
        position: fixed;
        right: -100%;
        top: 118px;
        flex-direction: column;
        background-color: #00353F;
        width: 100%;
        text-align: center;
        transition: ease-in 0.5s;
    }
    nav li {
        padding: 13px 0;
        background-color: #0c5766;
        transition: ease-in 0.5s;
    }
    nav li:hover {
        background-color: #00353F;
        transition: ease-in-out 0.5s;
    }
    nav.active ul {
        right: 0%;
        transition: ease-in-out 0.5s;
    }
}
@media (max-width: 590px) {
    nav{
        height: 100px;
    }
    nav ul {
        top: 170px;
    }
    .logo{
        height: 7rem;
    }
    .logo img{
        margin: 4% 5% 0 5%;
    }
    nav li {
        padding: 15px 0;
    }
}
/* ######## NAVBAR ######## */


h2 {
    font-size: 48px;
    padding-bottom: 1%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Krub', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.mot {
    color: #00353F;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .word-president{
        display: flex;
        flex-direction: column;
        gap: 2em;
        text-align: justify;
        font-size: 18px;
        padding-right: 5%;
        padding-bottom: 2%;
    }

.name-president{
        font-size: 24px;
        padding-top: 2%;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
    }

.mot-car {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(img/FOND-HERO3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    padding: 7% 5% 15% 5%;
}

.car-steven-img-name{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-name{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    background-color: #ffffffd3;
    color: #00353F;
    /* padding: 0.4em; */
    width: 100%;
    padding-top: 0.3em;
    padding-bottom: 0.6em;
}

.car-steven{
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.car-amb{
    font-size: 14px;
    font-family: 'Krub', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.mot-pre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.p-quote{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: -5%;
    padding-right: 5%;
}

.quote{
    width: 3%;
    padding-right: 2%;
}

.quote2{
    width: 3%;
    margin-left: 2%;
}

/* ############## CAROUSEL ############## */

.carousel {
    display: flex;
    align-items: center;
    height: 500px;
    background-color: white;
    max-width: 400px;
    width: 30%;
    margin: 0 auto;
    overflow: hidden;
    border: 1em solid white;
}

.carousel-items {

    display: flex;
    animation: carousel 14s linear infinite;
}

@keyframes carousel {
    0%, 30%{
        transform: translate(0px);
    }
    40%, 80%
    {
        transform: translateX(-400px);
    }
    90%, 100%
    {
        transform: translate(0px);
    }
}

/* ############## MAIN ############## */

/* ######## MELANOME ######## */

.melanome{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffbf66;
    justify-content: space-between;
    gap: 6em;
    padding: 4em 8em 4em 6em;
    &>div{
        &>h3{
            font-size: 48px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: #00353F
        }
        &>p{
            font-size: 24px;
            font-family: 'Krub', sans-serif;
            font-weight: 600;
            color: #00353F;
            text-align: justify;
            padding-top: 1em;
        }
    }
}

.mela-img{
    border-radius: 0 50px 0 50px;
    width: 415px;
    box-shadow: -16px 16px 0px 0px #d46f4d;
}

/* ######## STEVENSON ######## */

.steven{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    gap: 6em;
    padding: 3em 0 4em 0;
    margin: 4em 6em 4em 6em;
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    &>div{
        &>h3{
            font-size: 48px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: #00353F;
        }
        &>span{
            font-size: 32px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            color: #00353F;
        }
        &>p{
            font-size: 24px;
            font-family: 'Krub', sans-serif;
            font-weight: 600;
            color: #00353F;
            text-align: justify;
            padding-top: 2em;
        }
    }
}

.profil-steven{
    border-radius: 50px 0 50px 0;
    width: 415px;
    margin-right: 1em;
    box-shadow: 16px 16px 0px 0px #9ac8eb;
}

/* ######## MISSIONS ######## */

.missions{
    background-color: #d46f4d;
    padding: 3em;
    &>h3{
        font-size: 48px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        color: white;
        padding-bottom: 1em;
        padding-left: 1em;
    }
}

.icons-text{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

.button-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &>p{
        font-size: 30px;
        font-family: 'Krub', sans-serif;
        font-weight: 600;
        color: white;
        padding-top: 1em;
        line-height: 30%;
    }
}

.white-bar{
    width: 2px;
    height: 300px;
    background-color: white;
}

.icon{
    border-radius: 10rem;
    background-color: white;
}

/* ######## STRIPE ######## */

.don{
    background-color: #FFBF66;
    border-radius: 0 10rem 10rem 0;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em 6em 3em 4em;
    margin-right: 6em;
    z-index: 9;
    position: relative;
}

.title-text{
    text-align: justify;
    &>h4{
        font-size: 48px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        color: black;
    }
    &>p{
        padding: 1em 3em 0 4em;
        font-size: 24px;
        font-family: 'Krub', sans-serif;
        font-weight: 500;
        color: black;
    }
}

.button-stripe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &>p{
        font-size: 40px;
        font-family: 'Krub', sans-serif;
        font-weight: 500;
        color: white;
    }
}

.stripe-button{
    border-radius: 1.5rem;
    border: 0.3em solid white;
    box-shadow: 3px 3px 10px 3px #0000006e;
    background-color: #6772E5;
    transition: ease 0.5s;
}

.stripe-button:hover{
    background-color: #353b7b;
    transition: ease 0.5s;
}

/* ######## HISTOIRE ASSO ######## */

.asso-history{
    background-color: #fdf3d8;
    padding: 7em 6em 3em 4em;
    margin-top: -5em;
    z-index: 8;
    &>h4{
        font-size: 48px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        color: black;
    }
    &>p{
        padding: 1em 3em 0 4em;
        font-size: 24px;
        font-family: 'Krub', sans-serif;
        font-weight: 500;
        color: black;
    }
}

/* ######## ACTEURS ######## */

.actors{
    background-color: #b2d5e5;
    padding: 2em 0;
    &>h4{
        font-size: 48px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        color: black;
        padding-left: 1.5em;
    }
}

.pictures{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 1em 0 1em 0;
}

.profil-actor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &>h5{
        font-size: 32px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        color: black;
        padding-top: 0.5em;
    }
    &>p{
        font-size: 24px;
        font-family: 'Krub', sans-serif;
        font-weight: 500;
        color: black;
    }
}

.picture-actor{
    border: 10px solid white;
    border-radius: 10rem;
    width: 100%;
}


/* ############## FOOTER ############## */